<%- include('partials/head.ejs') %>



<!-- Home -->
<div class="container-fluid position-absolute top-50 start-50 translate-middle text-center">

    <div class="home-msg">
        <div class="mb-3 quotes-home-icon">
            <i class="fa-solid fa-quote-left"></i>
            <sub class="fw-bold">Sparks</sub>
            <i class="fa-solid fa-quote-right"></i>
        </div> 

        <p>Share whats on your mind</p>
    </div>

    <div class="register-login mt-5">
        <a  class="btn btn-lg btn-light register__btn " type="button" href="/register">register</a><div class="d-inline px-2"></div>
        <a  class="btn btn-lg btn-dark purple__btn" type="button" href="/login">login</a> 
    </div>
    <div>
       <a  class="btn btn-lg btn-dark purple__btn mt-5" type="button" href="/index">Skip -></a>
    </div>
</div>









<p>Home</p>

<%- include('partials/footer.ejs') %>
